@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'PT Sans', 'pt_sansregular', sans-serif; 
}

.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* Icon formatting - closed */
/*.tab input[type="checkbox"] + label .icon::before {*/
  /* content: "+"; */
  /*font-weight: bold;*/ /*.font-bold*/
  /*border-width: 1px;*/ /*.border*/
  /*border-radius: 9999px;*/ /*.rounded-full */
  /*border-color: #b8c2cc;*/ /*.border-grey*/
/*}*/
.tab input[type="radio"] + label .icon, .tab input[type="checkbox"] + label .icon {
  transform: rotate(180deg);
}
/* Icon formatting - open */
/* .tab input[type="checkbox"]:checked + label .icon::before {
  transform: rotate(315deg); */
  /*background-color: #6574cd;*/ /*.bg-indigo*/
  /*color: #f8fafc;*/ /*.text-grey-lightest*/
/*}*/
.tab input[type="radio"]:checked + label .icon, .tab input[type="checkbox"]:checked + label .icon {
  transform: rotate(360deg);
}

.w-accordion {
  width: 150px;
}

label .icon {
  top: 8px;
  right: 5px;
  font-size: 14px;
}

/***Para las etiquetas con fuente 12****/
.lh-tag-sm {
  line-height: 20px;
}
/***Para las etiquetas con fuente 12****/


/****************menu accordion************************/
.menu-accordion .main-menu{
  @apply mt-px;
  @apply  rounded;
  @apply bg-primary;
  @apply mb-3;
}

.menu-accordion .main-menu .text-title-menu{
  @apply text-white;
  @apply h-10;
  @apply min-h-10;
  @apply h-auto;
}
.menu-accordion .main-menu .text-title-menu .have-icon-section{
  @apply inline-block;
  @apply w-3/4;
}

.menu-accordion .second-menu{
  @apply mt-0;
  @apply bg-palegray;
  @apply text-secondary;
  @apply border-b;
  @apply border-solid;
  @apply border-nobel;
}
.menu-accordion .second-menu:hover{
  @apply text-primary;
  @apply bg-zircon;
}

.menu-accordion .second-menu .text-title-menu{
  @apply text-secondary;
  @apply min-h-10;
  @apply h-auto;
}
menu-accordion .second-menu .text-title-menu .have-icon-section{
  @apply inline-block;
  @apply w-3/4;
  
}
.menu-accordion .second-menu .text-title-menu:hover{
  @apply text-primary;
}

.tab input + label .icon-section{
  /** right: 26px;
  top: 12px; **/
  font-size: 18px;
  @apply align-middle;
}

/****************menu accordion************************/


/******************Menu Header***************************/
.as-icon-header{
  display: block !important;
}

.as-icon-header::before{
  display: block;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  height: 27px;
  width: 27px;
  padding: 5px;
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
  @apply bg-secondary;
  @apply text-white;
}
.as-icon-header:hover::before{
  @apply bg-primary;
}

.header-zone-center-menu ul.k-menu{
  /* @apply bg-secondary; */
}

.header-zone-center-menu ul.k-menu .k-item.k-menu-item{
  @apply pt-1;
  @apply pl-1;
  @apply pr-1;
  @apply pb-0;
  max-width: 88px;
}


.header-zone-center-menu ul.k-menu .k-item.k-menu-item .k-link.k-menu-link{
  @apply text-white;
  @apply text-sm;
  @apply text-center;
}

.header-zone-center-menu ul.k-menu .k-item.k-menu-item:hover .k-link.k-menu-link{
  @apply text-primary;
}

.as-icon-header-submenu{
  @apply bg-secondary;
  

}

.as-icon-header-submenu:last-child .k-link.k-menu-link{
  border-bottom: none;
}
.as-icon-header-submenu .k-link.k-menu-link{
  @apply text-sm;
  @apply text-white;
  @apply text-center;
  border-bottom: solid 1px white;
  
}


.as-icon-header-submenu .k-link.k-menu-link:hover{
  @apply bg-primary;
  @apply text-white;
}

li.as-icon-header-submenu.k-item > .k-state-active{
  @apply bg-primary;
  @apply text-white;
}


header.main {
  display: block;
  height: 80px;
  min-width: 1280px;
  width: 100%;
  box-shadow: 0 4px 10px #e0e0e0;
}

.headerBg.adm{
  @apply bg-secondary; 
}

header.main .base {
  width: 100%;
  height: 100%;
}

header.main .base .logo {
  cursor: pointer;
  display: inline-block;
  height: 70px;
  left: 14px;
  margin-bottom: 3px;
  margin-top: 6px;
  position: absolute;
  width: 270px;
}

header.main .base .logo .icon {
  float: left;
  margin: 10px 10px 0 0;
}

header.main .base .logo .icon span {
  @apply text-primary;
  font-size: 50px;
  vertical-align: text-top;
}

header.main .base .logo .wrap-mid {
  float: left;
  margin: 10px 0 0;
  width: calc(100% - 71px);
}

header.main .base .logo h2.regular {
  /* font-family: 'Lato'; */
  font-size: 20px;
  font-weight: 400;
  margin-top: 3px;
}
header.main .base .logo h2.bold {
  /* font-family: 'Lato'; */
  font-size: 20px;
  font-weight: 700;
}
header.main .base .logo h2 {
  color: #fff;
  line-height: 20px;
  margin: 0;
}

header.main .base .header-zone-center {
  background: rgba(0,0,0,.1);
  color: #fff;
  display: inline-block;
  height: 54px;
  margin-bottom: 13px;
  margin-left: 300px;
  margin-top: 13px;
  width: calc(100% - 520px);
}

header.main .base .arrow-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid;
  border-left-color: rgba(255,255,255,.05);
  margin-top: 17px;
  position: absolute;
}

header.main .base .breadcrumbs {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: table-cell;
  float: left;
  height: 54px;
  line-height: 160%;
  margin-left: 15px;
  max-width: 120px;
  padding-left: 4px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

header.main .base .breadcrumbs .title {
  display: table-cell;
  font-size: 16px;
  height: 54px;
  vertical-align: middle;
}
.headerTx{
  @apply text-white;
}

.header-zone-center-menu{
  float: right;
}

header.main .base .rightMenu {
    float: right;
    height: 57px;
    /* position: absolute; */
    right: 10px;
    text-align: right;
    top: 10px;
    width: 215px;
    margin-top: 15px;
    margin-right: 5px;
}

header.main .base .rightMenu>.col2 {
  clear: both;
  height: 30px;
  left: 0;
  position: relative;
  top: 0;
  width: 215px;
}
header.main .base .rightMenu .exit {
  color: #fff;
  float: right;
  font-size: 13px;
  line-height: 20px;
  width: auto;
}
header.main .base .rightMenu .exit a {
  color: #00a1c6;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}
.mainTx {
  color: #00a1c6;
}
.block {
  display: block;
}

header.main .base .rightMenu .configuration, header.main .base .rightMenu .home {
  float: right;
  margin: 0;
  width: auto;
  @apply text-sm;
}
header.main .base .rightMenu .configuration a, header.main .base .rightMenu .home a {
  font-size: 13px;
  line-height: 150%;
  text-decoration: none;
}

header.main .base .rightMenu .configuration .icon, header.main .base .rightMenu .home .icon {
  display: inline-block;
  height: 16px;
  margin: -6px 2px 0 -1px;
  padding: 2px 0;
  text-align: center;
  vertical-align: middle;
  width: 18px;
}

header.main .base .rightMenu .positionTop {
  color: #999;
  font-size: 13px;
  line-height: 17px;
}

.userTop {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  max-width: calc(100% - 20px);
  text-decoration: none;
}
/******************Menu Header***************************/