@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'PT Sans', 'pt_sansregular', sans-serif; 
}

.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* Icon formatting - closed */
/*.tab input[type="checkbox"] + label .icon::before {*/
  /* content: "+"; */
  /*font-weight: bold;*/ /*.font-bold*/
  /*border-width: 1px;*/ /*.border*/
  /*border-radius: 9999px;*/ /*.rounded-full */
  /*border-color: #b8c2cc;*/ /*.border-grey*/
/*}*/
.tab input[type="radio"] + label .icon, .tab input[type="checkbox"] + label .icon {
  transform: rotate(180deg);
}
/* Icon formatting - open */
/* .tab input[type="checkbox"]:checked + label .icon::before {
  transform: rotate(315deg); */
  /*background-color: #6574cd;*/ /*.bg-indigo*/
  /*color: #f8fafc;*/ /*.text-grey-lightest*/
/*}*/
.tab input[type="radio"]:checked + label .icon, .tab input[type="checkbox"]:checked + label .icon {
  transform: rotate(360deg);
}

.w-accordion {
  width: 150px;
}

label .icon {
  top: 8px;
  right: 5px;
  font-size: 14px;
}

/***Para las etiquetas con fuente 12****/
.lh-tag-sm {
  line-height: 20px;
}
/***Para las etiquetas con fuente 12****/


/****************menu accordion************************/
.menu-accordion .main-menu{
  @apply mt-px;
  @apply  rounded;
  @apply bg-primary;
  @apply mb-3;
}

.menu-accordion .main-menu .text-title-menu{
  @apply text-white;
  @apply h-10;
  @apply min-h-10;
  @apply h-auto;
}
.menu-accordion .main-menu .text-title-menu .have-icon-section{
  @apply inline-block;
  @apply w-3/4;
}

.menu-accordion .second-menu{
  @apply mt-0;
  @apply bg-palegray;
  @apply text-secondary;
  @apply border-b;
  @apply border-solid;
  @apply border-nobel;
}
.menu-accordion .second-menu:hover{
  @apply text-primary;
  @apply bg-zircon;
}

.menu-accordion .second-menu .text-title-menu{
  @apply text-secondary;
  @apply min-h-10;
  @apply h-auto;
}
menu-accordion .second-menu .text-title-menu .have-icon-section{
  @apply inline-block;
  @apply w-3/4;
  
}
.menu-accordion .second-menu .text-title-menu:hover{
  @apply text-primary;
}

.tab input + label .icon-section{
  /** right: 26px;
  top: 12px; **/
  font-size: 18px;
  @apply align-middle;
}

/****************menu accordion************************/


/******************Menu Header***************************/
.as-icon-header{
  display: block !important;
}

.as-icon-header::before{
  display: block;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  height: 27px;
  width: 27px;
  padding: 5px;
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
  @apply bg-secondary;
  @apply text-white;
}
.as-icon-header:hover::before{
  @apply bg-primary;
}

.header-zone-center-menu ul.k-menu{
  @apply bg-secondary;
}

.header-zone-center-menu ul.k-menu .k-item.k-menu-item{
  @apply p-2;
}


.header-zone-center-menu ul.k-menu .k-item.k-menu-item .k-link.k-menu-link{
  @apply text-white;
  @apply text-sm;
  @apply text-center;
}

.header-zone-center-menu ul.k-menu .k-item.k-menu-item:hover .k-link.k-menu-link{
  @apply text-primary;
}

.as-icon-header-submenu{
  @apply bg-secondary;
  

}

.as-icon-header-submenu:last-child .k-link.k-menu-link{
  border-bottom: none;
}
.as-icon-header-submenu .k-link.k-menu-link{
  @apply text-sm;
  @apply text-white;
  @apply text-center;
  border-bottom: solid 1px white;
  
}


.as-icon-header-submenu .k-link.k-menu-link:hover{
  @apply bg-primary;
  @apply text-white;
}


/******************Menu Header***************************/